html * {
    font-style: normal !important;
}

.navbar * {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

img.img {
    background-color: white !important;
}

.img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: rgb(243, 244, 246);
    margin: 1em;
}

.dots {
    margin: 1em;
}

.dots:hover {
    cursor: pointer;
}

.show {
    display: flex !important;
}

.dotsBar {
    top: 5vh;
    right: 1vw;
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    padding: 1em;
    background-color: rgb(190, 187, 187);
    animation: .3s fadeIn;
    transition: .3s ease;
    border-radius: 20%;
}

.dotsBar a {
    color: white;
}

.content {
    height: 85vh;
    width: 60%;
    margin: 0 auto;
}

.contentNavi {
    margin-left: 2em;
    margin-bottom: 1em;
}

.contentNavi a {
    padding-right: 1em !important;
    color: rgb(185, 183, 183);
}

.dotsBar a:hover,
.contentNavi a:hover,
.selected {
    cursor: pointer !important;
    color: rgb(131, 103, 244) !important;
    text-decoration: none;
}

.calendar {
    margin: 2em 0 0.5em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calendar h2 {
    width: 100%;
}

.calendar sup {
    color: rgb(211, 211, 211);
}

.arrow {
    width: 2em !important;
    cursor: pointer;
}

#next {
    text-align: end !important;
}

.disabled {
    pointer-events: none !important;
    color: grey;
}

.panel {
    margin: 0 2em;
}

.data {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(214, 211, 211);
    height: 70%;
    overflow: auto;
}

.data *{
    animation: .4s fadeIn linear;
}

.cost {
    padding: 1em;
    background-color: rgb(243, 244, 246);
    border-radius: 20px 20px 0 0;
    text-align: end;
}

.dataBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    border-bottom: 1px solid rgb(214, 211, 211);
}

.dataBlock>div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}

.dataBlock>div i {
    padding: 0.5em;
}

.last {
    justify-content: flex-end !important;
}

.off {
    display: none !important;
}

#nofiles {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    height: 100%;
}

.mailBlock {
    position: absolute;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    align-content: flex-start !important;
    top: 25%;
    right: 25%;
    width: 50% !important;
    height: 50vh;
    padding: 1em;
    background-color: rgb(214, 211, 211);
    animation: 1s drop;
    transition: 1s ease;
    z-index: 1;
    border-radius: 2px;
}

.mailBlock i {
    padding: 0 !important;
    color: rgb(145, 145, 145);
}

.fileDate {
    padding: 0 !important;
}

.exit {
    color: black !important;
    position: absolute;
    top: 1em;
    right: 1em;
    transition: .3s;
    cursor: pointer;
}

.exit:hover {
    color: red !important;
}

span {
    background-color: rgb(158, 255, 0) !important;
    margin-right: 0.5em !important;
}

.unpaid {
    background-color: rgb(224, 217, 255) !important;
}

.late {
    color: rgb(255, 128, 128);
    font-size: small !important;
}

.btn {
    padding: 0.3em 0.8em;
    border-radius: 20px;
    border: 0;
    transition: .3s ease-in;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:has(> .fa-file-circle-plus), .doc.btn {
    background-color: white !important;
    color: black !important;
    border: 1px solid grey;
}

.incoming.cost {
    background-color: white;
    padding: 0 !important;
}

.operations {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    margin-top: 2em;
}

.operations * {
    margin-left: 0.5em;
}

.operations button {
    background-color: rgb(113, 81, 242);
    color: white;
}

.operations button:hover {
    color: white;
}

.remove {
    background-color: rgb(255, 0, 0) !important;
    transition: .3s ease;
    cursor: pointer;
}

.remove:hover {
    background-color: rgb(143, 17, 17) !important;
    color: white;
}

.download {
    text-decoration: black underline !important;
    color: black !important;
}

.download:hover {
    text-decoration: none !important;
}

.block {
    position: absolute;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    width: 25% !important;
    top: 25%;
    height: 50vh;
    padding: 1em;
    z-index: 0;
    background-color: rgb(214, 211, 211);
    animation: 1s drop linear;
    transition: 1s ease;
    border-radius: 2%;
}

.scan {
    right: 24%;
}

.document {
    left: 24%;
}

.doc.btn{
    margin-top: .3em;
}

.doc.btn:hover {
    background-color: rgb(113, 81, 242) !important;
    color: white !important;
    transform: none !important;
}

.border {
    width: 100%;
    margin: 0 !important;
}

h5 {
    font-size: 1.1em;
    text-align: center;
    margin: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-800px);
    }
}