.contentNavi {
    margin: 1em 0;
}

.content {
    margin-top: 10vh !important;
}

form {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: center;
}

.form-control, .login label {
    height: 25%;
}

.invalid-feedback {
    text-align: center;
    margin-bottom: 1em;
}
